
@{
    ViewData["Title"] = "Index";
}

<h1>First Ajax 練習</h1>
<hr />
<!--按下按鈕去呼叫Serve端程式-->
<input type="button" value="Click" id="button1" />
<div id="div1"></div>

@section Scripts{
<script>
    //步驟一找到要控制的對象
        const btn = document.querySelector('#button1');
        const result = document.querySelector('#div1');
    //步驟二在什麼時後 => 事件   click 
        btn.addEventListener('click', async  () => {
    //步驟三做甚麼事
   // result.innerHTML = `<h2>Hello JavaScript!!</h2>`

  //Ajax call server 程式 promise 非同步
            //fetch('/Member/sayhi')
            //.then(response=>response.text())
            //.then(data=>{
            // result.innerHTML = `<h2>${data}</h2>`
            //});

            //改成 async await 寫法
         const response =   await fetch('/Member/sayhi');
         const data = await response.text();
          result.innerHTML = `<h2>${data}</h2>`
    })
   
    //fetch('server端程式的路徑')
    //.then(收到Server回傳的response物件)
    //.then(取出Response物件中的資料)

  //Ajax

 // OLD  XMLHttpRequest
         //1. XMLHttpRequest API
        //2. XMLHttpRequest advanced features

 // NEW Fetch()


 //jQuery  //$.ajax()
 //axios
</script>

}

