@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <style>
        .display-4 {
            background-color:darkcyan;
        }
    </style>
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Title"] </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>
        $('.display-4').css('color', 'blue');
    </script>
}


